root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{sql,toml,yaml,md,json,css}]
max_line_length = 80

[*.{py,js,ts,tsx}]
indent_size = 4
max_line_length = 100

[*.py]
ij_python_from_import_trailing_comma_if_multiline = true
ij_python_from_import_wrapping = on_every_item
ij_python_use_trailing_comma_in_arguments_list = unset # allow for generator function, such as any(...)
ij_python_use_trailing_comma_in_collections = true
ij_python_use_trailing_comma_in_parameter_list = true

[*.js]
ij_javascript_enforce_trailing_comma = whenmultiline
ij_javascript_force_semicolon_style = true
ij_javascript_imports_wrap = on_every_item
ij_javascript_spaces_within_object_literal_braces = true
ij_javascript_spaces_within_object_type_braces = true
ij_javascript_spaces_within_imports = true
ij_javascript_use_semicolon_after_statement = true

[*.ts]
ij_typescript_enforce_trailing_comma = whenmultiline
ij_typescript_force_semicolon_style = true
ij_typescript_imports_wrap = on_every_item
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_object_type_braces = true
ij_typescript_spaces_within_imports = true
ij_typescript_use_semicolon_after_statement = true