# macOS
.DS_Store
._*

# CLion
cmake-build-debug/

# PyCharm
*.iml
.idea/
.venv/
.pytest_cache/
__pycache__/
.coverage
coverage.xml
dist/
build/
wheels/
*.egg-info

# WebStorm
node_modules/
/docs/
coverage/
test-report.junit.xml

# MkDocs
site/
!website/docs
